<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  We want invite you to use our app,
  please signup by this link: <%= @url %>.<br/>
</p>
<p>Thanks for your interest to our app!</p>
</body>
</html>